/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =============================== add perso =========================== */
a {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  border: 0px solid;
}

hr,
button {
  border: none;
}

html,
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.hidden {
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -10000px;
  width: 1px;
}

.photographer_name {
  color: #D3573C;
  font-size: 2.3em;
  font-weight: 400;
}
.photographer_portrait_container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.photographer_portrait {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}
.photographer_city {
  color: #901C1C;
  font-size: 0.9em;
}
.photographer_tagline {
  font-size: 0.7em;
}
.photographer_price {
  font-size: 0.6em;
  color: #757575;
}

.page_name {
  font-size: 4em;
}
.page_city {
  font-size: 1.5em;
}
.page_tagline {
  font-size: 1.1em;
}

.contact_button {
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background: #D3573C;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our_photographers {
  margin-right: 100px;
  color: #901C1C;
  transition: transform 0.5s cubic-bezier(0.2, 0.5, 0.3, 2);
}
.our_photographers:hover {
  color: #D3573C;
  transform: scale(1.2);
}

.photographHeader_container {
  height: 300px;
  margin: 0 100px;
  display: flex;
  background-color: #FAFAFA;
}

.photographHeader {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photographHeader.left {
  flex-direction: column;
  align-items: start;
  gap: 1.2em;
  padding-left: 2em;
}
.photographHeader.right {
  padding-left: 5em;
}

.photograph_contact_button_position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select_container {
  margin: 20px 0 0 100px;
}
.select_container label {
  font-size: 1.1em;
  font-weight: 700;
  margin-right: 1em;
}
.select_container select {
  width: 170px;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #FAFAFA;
  font-size: 1.2em;
  background: #901C1C;
  box-shadow: 1px 1px 3px 1px #D3573C;
}
.select_container select option:checked {
  background: #D3573C;
}

.photographer_medias_section {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 70px 0;
  margin: 50px 100px 0 100px;
}
.photographer_media_container {
  width: 350px;
  height: 300px;
  border-radius: 5px;
}
.photographer_media_container .media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.medias {
  color: #901C1C;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}
.medias_name {
  width: 78%;
}
.medias_likes_container {
  width: 22%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.medias .fa-heart {
  display: flex;
  align-items: center;
  padding: 0.3em 0 0 0.2em;
  font-size: 0.8em;
}
.medias .fa-heart:hover {
  cursor: pointer;
}
.medias .isLiked {
  color: #D3573C;
}

.overlay_bottomRight {
  background: #D3573C;
  width: 200px;
  height: 45px;
  position: sticky;
  margin-right: 100px;
  bottom: 0;
  left: 100%;
}

#contact_modal {
  display: none;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 4em;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 2.3em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  appearance: none;
}
form input:focus-visible {
  outline: none;
}
form input::placeholder {
  padding-left: 0.5em;
  font-size: 1.2em;
}

.form_message {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 5px;
}
.form_message:focus-visible {
  outline: none;
}
.form_message::placeholder {
  padding: 1em 0 0 0.5em;
  font-size: 1.2em;
}

input:valid,
textarea:valid {
  border: green solid 2px;
  border-radius: 5px;
}

input:invalid,
textarea:invalid {
  border: red solid 2px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
