$font: "DM Sans", sans-serif;

$primary-color: #901C1C;
$secondary-color: #D3573C;

$form_input_message: clamp(1em, 2vw, 1.5em);
$form_placeholder: clamp(0.8em, 1vw, 1.2em);


$primary-border-radius: 5px;
$border-radius_photographer_overlay: 5px 5px 0 0;