.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}


.photographer {
    &_name {
        color: $secondary-color;
        font-size: 2.3em;
        font-weight: 400;
    }

    &_portrait_container {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
    }

    &_portrait {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: scale(1.1);
    }

    &_city {
        color: $primary-color;
        font-size: 0.9em;
    }

    &_tagline {
        font-size: 0.7em;
    }

    &_price {
        font-size: 0.6em;
        color:#757575;
    }
}

.page {
    &_name {font-size: 4em}
    &_city {font-size: 1.5em}
    &_tagline {font-size: 1.1em;}
}

.contact_button {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background: $secondary-color
    }
}