
.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}


.photographer {
    &_name {
        color: $secondary-color;
        font-size: 2.4em;
        font-weight: 400;
    }

    &_portrait_container {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
    }

    &_portrait {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: scale(1.1);
    }

    &_city {
        color: $primary-color;
        font-size: 1.1em;
        cursor: default;
    }

    &_tagline {
        font-size: clamp(0.7em, 1.1vw, 0.7em);
        white-space: nowrap;
        cursor: default;
    }

    &_price {
        font-size: 0.6em;
        color:#757575;
        cursor: default;
    }
}

.contact_button {
    width:fit-content;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5em, 2vw, 1.3em);
    font-weight: bold;
    color: white;
    padding: 15px;
    border: none;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background: $secondary-color
    }
}