.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;

    article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .img_container {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            overflow: hidden;
            
            .photographer_img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform: scale(1.1);
            }
        }

        .photographer_name {
            color: $secondary-color;
            font-size: 2.3em;
            font-weight: 400;
        }

        .photographer_city {
            color: $primary-color;
            font-size: 0.9em;
        }
        
        .photographer_tagline {
            font-size: 0.7em;
        }

        .photographer_price {
            font-size: 0.6em;
            color:#757575;
        }


    }
}
