.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;

    article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


.our_photographers {
    margin-right: 100px;
    color: $primary-color;
    transition: transform 0.5s cubic-bezier(0.2, 0.5, 0.3, 2);

    &:hover{
        color: $secondary-color;
        transform:scale(1.2);
    }
}
