.home_body_wrapper {
    margin: 0 100px;
}

.logo {
    height: 50px;
}

.our_photographers {
    color: $primary-color;
}


.photographer_section {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4em 1%;
    margin-top:100px;


    article {
        @include flex_center_column;
    }
}

.home {
    &_name {
        font-size: clamp(2em, 3vw, 3em);
    }

    &_name, &_city, &_tagline, &_price  {
        text-align: center;
        white-space: nowrap
    }
}




@media only screen and (max-width: 1050px) {

    .photographer_section {
         grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 800px) {

    .home_body_wrapper {
        margin: 0 50px;
    }

    .photographer_section {
         grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 600px) {
    .photographer_section  {
        grid-template-columns: auto;
    }

    .home_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

    .our_photographers {
        font-size: 1.5em;
    }
}


@media only screen and (max-width: 400px) {

    .home_body_wrapper {
        margin: 0 20px;
    }
}


