
.photographHeader_container {
    height: 300px;
    margin: 0 100px;
    display: flex;
    background-color: #FAFAFA;
}

.photographHeader {
    width:33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.left{
        flex-direction: column;
        align-items: start;
        gap:1.2em;
        padding-left: 2em;
    }

    &.right{ padding-left: 5em;}
     
}

.photograph_contact_button_position {
    display:flex;
    justify-content: center;
    align-items: center;
}

.select_container {
    margin: 20px 0 0 100px;

    label {
        font-size: 1.1em;
        font-weight: 700;
        margin-right: 1em;
    }

    select {
        width: fit-content;
        padding: 0.5em;
        outline:none;
        border:none;
        border-radius: 5px;
        color: #FAFAFA;
        font-size:1.2em;
        background: $primary-color;

        option:checked {background: $secondary-color;}
    }
}


.photographer {

    &_medias_section{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        align-items: center;
        gap: 70px 0;
        margin: 50px 100px 70px 100px;
    }
    
    &_media_container{
        width:350px;
        height:300px;
        border-radius: 5px;
    }
}

// media card
.media {
    // img
    width:100%;
    height:100%;
    object-fit: cover;
            
    &:hover {
        cursor: pointer;
    }
    
    &_description {
        color:$primary-color;
        display:flex;
        justify-content: space-between ;
        font-size: 1.5em;

        &_name {
            width: 78%;
            cursor: default;
        }

        &_likes_container {
            width: 22%;
            display: flex;
            justify-content:flex-end;
            align-items: flex-start;
        }

        &_likes_counter {
            cursor: default;
        }

        .fa-heart {
            display: flex;
            align-items: center;
            padding: 0.3em 0 0 0.2em;
            font-size: 0.8em;
            
            &:hover {
                cursor: pointer;
            }
        }

        .isLiked {
            color:$secondary-color
        }
    }
}

.overlay_bottomRight {
    width:fit-content;
    height: 45px;
    margin-right: 100px;
    position: sticky;
    bottom:0;
    left: 100%;
    font-size: 1.5em;
    background: $secondary-color;
    display:flex;
    justify-content: space-between;
    cursor: default;

    &_likesCounter {
        padding-left: 20px;
        display: flex;
        align-items: center;
    }

    &_pricePerDay {
        padding-right: 20px;
        display: flex;
        align-items: center;
    }

    .fa-heart {
        font-size: 0.7em;
        display: flex;
        align-items: center;
        margin-right: 2em;
        padding: 0.1em 0 0 0.3em;

    }

}
