#contact_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.modal_form {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px 20px 35px;
    margin: auto;

    &_header {
    justify-content: space-between;
    width: 100%;
    height: 160px;

        &_title {
            font-size: clamp(1.5em, 3vw, 3em);
            font-weight: normal;
            padding-right: 1em;
            margin: 0.5em 0 1em 0;
        }
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;


    & label {
        color: #312E2E;
        font-size: clamp(1.4em, 1.5vw, 2em);
    }

    & div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }

    & input {
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 5px;
        appearance: none;
        font-size: clamp(1em, 2vw, 1.5em);

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            padding-left: 0.5em;
            font-size: clamp(0.8em, 1vw, 1.2em);
        }
    }

    .form_message {
        width : 100%;
        resize: none;
        border: none;
        border-radius: 5px;
        font-size: clamp(1em, 2vw, 1.5em);
        padding:1em;

        &:focus-visible {
            outline: none;
        }

        &::placeholder{
            font-family: "DM Sans", sans-serif;
            font-size: clamp(0.8em, 1vw, 1.2em);
        }
    }
}

input:not(:focus):valid,
textarea:not(:focus):valid {
    border: none;
}

input:not(:focus):invalid,
textarea:not(:focus):invalid {
    border: none;
}


input:valid,
textarea:valid {
    border: green solid 2px;
    border-radius: 5px;
}

input:invalid,
textarea:invalid{
    border: red solid 2px;
    border-radius: 5px;
} 



@media only screen and (max-width: 1100px) {
    .modal_form{
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    .modal_form{
        width: 90%;
    }

    #contact_form_btn_close {
        width:30px;
        height:30px;
        margin-bottom: 5em;
    }
}

@media only screen and (max-width: 400px) {

    #contact_form_btn_close {
        width:25px;
        height:25px;
        margin-bottom: 6.5em;
    }
}