#contact_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.modal_form {
    border-radius:$primary-border-radius;
    background-color: #DB8876;
    width: 40%;
    height: auto;
    @include flex_center_column;
    justify-content: space-between;
    padding: 10px 35px 20px 35px;
    margin: 0 auto;

    &_header {
    justify-content: space-between;
    width: 100%;
    height: 20%;

        &_title {
            font-size: clamp(1.5em, 2vw, 3em);
            font-weight: normal;
            padding-right: 1em;
            margin: 0.5em 0 1em 0;
        }
    }
}

form {
    width: 100%;
    @include flex_center_column;
    align-items: flex-start;


    & label {
        color: #312E2E;
        font-size: clamp(1.1em, 1.2vw, 2em);
    }

    & div {
        width: 100%;
        @include flex_center_column;
        align-items: flex-start;
        margin-bottom: 26px;
    }

    & input {
        width: 100%;
        height: 60px;
        border: none;
        border-radius:$primary-border-radius;
        appearance: none;
        font-size: $form_input_message;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            padding-left: 0.5em;
            font-size: $form_placeholder;
        }
    }

    .form_message {
        width : 100%;
        height:20vh;
        resize: none;
        border: none;
        border-radius:$primary-border-radius;
        font-size: $form_input_message;
        padding:1em;

        &:focus-visible {
            outline: none;
        }

        &::placeholder{
            font-family: $font;
            font-size: $form_placeholder;
        }
    }
}

#contact_form_btn_close{
    cursor:pointer;
}

input:not(:focus):valid,
textarea:not(:focus):valid {
    border: none;
}

input:not(:focus):invalid,
textarea:not(:focus):invalid {
    border: none;
}


input:valid,
textarea:valid {
    border: green solid 2px;
    border-radius:$primary-border-radius;
}

input:invalid,
textarea:invalid{
    border: red solid 2px;
    border-radius:$primary-border-radius;
} 



@media only screen and (max-width: 1100px) {
    .modal_form{
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    .modal_form{
        width: 90%;
    }

    #contact_form_btn_close {
        width:30px;
        height:30px;
        margin-bottom: 5em;
    }
}

@media only screen and (max-width: 400px) {
    #contact_form_btn_close {
        width:25px;
        height:25px;
        margin-bottom: 6.5em;
    }
}