.lightbox{
    height:100%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000b0;
    backdrop-filter: blur(5px);
    
    &_modal{
        height: 90%;
        width:70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
    }  
    
    &_modal_media{
        height:90%;
        width:70%;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_modal_close{
        width:42px;
        height:42px;
        position:absolute;
        top:6.5%;
        right:18%;
        fill: $primary-color;
        cursor: pointer;
    }

    &_modal_before{
        width:42px;
        height:42px;
        position:absolute;
        top:47.5%;
        left:18%;
        fill: $primary-color;
        cursor: pointer;
    }

    &_modal_after{
        width:42px;
        height:42px;
        position:absolute;
        top:47.5%;
        right:18%;
        fill: $primary-color;
        cursor: pointer;
    }


    &_modal_title{
        color:$primary-color;
        font-size:1.5em;
        margin-top: 0.5em;
        width:70%;
    }
}


@media only screen and (max-width: 800px) {
    .lightbox {
        
        &_modal {
            width: 100%;
            height: 100%;
        }

        &_modal_close{
            top:1%;
            right:2%;
        }
    
        &_modal_before{
            top:47.5%;
            left:2%;
        }
    
        &_modal_after{
            top:47.5%;
            right:2%;
        }
    }
}